.sliderbar {
  background-color: #2e323e;
  margin: 1rem;
  width: 15%;
  max-width: 200px;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 30px;
  position: absolute;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  font-size: 15px;
}

.pages {
  position: absolute;
  top: 35%;
}

.pages .line,
.end .line {
  text-decoration: none;
  color: white;
}

.part:hover {
  background-color: #1b1e25;
  border-radius: 10px;
}

.part.active{
  background-color: #1b1e25;
  border-radius: 10px;
}


.pages .center {
  list-style: none;
  padding: 0%;
}

.pages .part {
  margin-bottom: 15px;
  cursor: pointer;
}

.sliderbar .end{
  position: absolute;
  bottom: .5em;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}

.down {
  list-style: none;
  padding: 0;
}

.down .part {
  margin-bottom: 15px;
  cursor: pointer;
}

.slideText {
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .sliderbar {
    width: 10%;
  }

  .top,
  .slideText {
    display: none;
  }

  .sliderbar .slideText {
    display: none;
  }
}
