.containerCreate {
  height: 100vh;
}

.createContent {
  height: 100vh;
  width: 83.5%;
  position: relative;
  left: 16.5%;
}

.createHeader {
  display: grid;
  place-items: center;
  padding: 1rem 2rem;
  background-color: aqua;
}
.groupRadio,
.contentHeader {
  display: flex;
}
.contentHeader {
  background-color: #dcdbdb;
  margin-top: 1rem;
  width: 90%;
  padding: 0.6rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.createRadio {
  padding-left: 1rem;
}

.radioLebel {
  padding-left: 0.5rem;
}

.createDrop {
  padding-right: 1.6rem;
  margin: -0.3rem;
}

.dropdown-menu .create-ul {
  background-color: #b4b4b4;
  position: absolute;
  top: 6.5rem;
  list-style: none;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}

.create-ul li {
  padding: 0.5rem;
}
.create-ul li:hover {
  padding: 0.5rem;
  background-color: #757373;
  border-radius: 10px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-size: 14px;
}

#dropIcon {
  font-size: 20px;
  position: relative;
  left: 0.5rem;
  top: 0.3rem;
}

.bodyCreate {
  height: 78vh;
  display: flex;
  place-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}

.row {
  display: 1;
  flex-wrap: wrap;
  margin: 10px 0;
}

#iconSearch {
  left: 20rem;
  top: 3px;
  cursor: pointer;
  position: relative;
}

.barCreate {
  width: 21.5rem;
  height: 4rem;
  background-color: #3c3c3c25;
  display: flex;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 0rem 0rem;
  top: 0.5rem;
  left: 1rem;
}

.createSearch {
  position: relative;
}

.searchTitleCreate {
  border-bottom: 1px #179fba solid;
  width: 15rem;
  display: grid;
  place-items: center;
  margin: auto;
}

.content {
  display: flex;
}

.textarea {
  border: none;
  outline: none;
  background-color: #dcdbdb;
  max-width: 297px;
  max-height: 85px;
  min-width: 257px;
  min-height: 75px;
  padding: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.reglamento {
  position: relative;
  width: 330px;
  height: 387px;
  background: #e1e1e1;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
}

.buttonCreate {
  position: absolute;
  left: 40%;
  top: 85%;
}

.buttonCreate .button {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0799b6;
  color: white;
  font-weight: 800;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  letter-spacing: 1.5px;
}

.custom-file-input {
  display: inline-block;
  background-color: #3C3C3C;
  color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none; 
}

.custom-file-input #inputFile[type="file"] {
  display: none; 
}

