.containerHome {
  height: 100vh;
}

.homeContent {
  justify-content: center;
  height: 100vh;
  margin-left: 12.7rem;
}


.headerTitle {
  padding: 1.5rem;
  display: grid;
  place-items: center;
  font-size: 23px;
}

.titleHome {
  width: 20rem;
  display: grid;
  place-items: center;
  border-bottom: 2px rgb(127, 187, 255) solid;
}

.cardBody {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cardHome {
  margin-top: 7rem;
  transition: 0.4s ease-in-out;
}


.cardHome:hover {
  transform: scale(1.1);
}

/* @media screen and (max-width: 1000px) {
  .homeContent {
    display: inline;
  }
} */
