.containerHome {
  height: 100vh;
}

.homeContent {
  justify-content: center;
  height: 100vh;
  margin-left: 12.7rem;
}

.headerTitle {
  padding: 2rem;
  display: grid;
  place-items: center;
  font-size: 23px;
}

.titleHome {
  width: 20rem;
  display: grid;
  place-items: center;
  border-bottom: 1.5px #0799B6 solid;

}

.cardBody {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0rem 10rem;
}

.cardHome {
  height: 28%;
  color: black;
  transition: 0.4s ease-in-out;

}

.cardHome:hover {
  transform: scale(1.1);
}



