.containerToast {
  /* border: 2px solid red; */
  position: absolute;
  padding: 1em;
  width: 18%;
  border-radius: 3px;
  top: 1rem;
  animation: toastSlideInRight 0.3s ease-in-out;
  left: 77%;
}

.containerToast section i {
  position: absolute;
  font-size: 0.5rem;
  display: flex;
  right: 0.7rem;
  top: 0.7rem;
  color: #ffff;
  transition: 0.1s ease-in;
}

.containerToast section i:hover {
  color: #333;
  transform: scale(1.1);
}

.containerToast section span {
  color: #ffff;
  user-select: none;
}

.success {
  background: #75dd13;
}

.warnning {
  background: #ffc400;
}

.error {
  background: #d83a31;
}

@keyframes toastSlideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
