.containerCard{
  width: 10rem;
  max-width: 300px;
  margin-top: 7rem;
  margin-left: 4rem;
}

.cardImage .fondoCard{
  width: 10rem;
}

.cardTitle, .cardBody{
  padding-top: .5rem;
}

.bodyText{
  font-size: 12px;
}