@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  height: 99.9vh;

}

.main {
  animation: show 1s ease-in-out;
}

.registerForm {
  background-color: white;
  width: 70%;
  max-width: 400px;
  padding: 3em;
  border-radius: 10px; 
  box-shadow: 2px 5px 10px -5px rgba(0, 0, 0, 0.674);
  text-align: center;
  
}

.registerForm .title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.inputGroup{
  display: flex;
}

.inpu {
  position: relative;
  color: black;
  
}

.formContainerR {
  margin-top: 1em;
  display: grid;
  gap: 1.5em;
}

.formSelect{
  width: 100%;
  background-color: rgba(128, 128, 128, 0.374);
  font-size: 1em;
  padding: 0.8em;
  border: none;
  outline: none;
  border-radius: 20px;
  justify-content: space-between;
  font-size: 12px;
}

.formInputR{
  width: 80%;
  background-color: rgba(128, 128, 128, 0.374);
  font-size: 1em;
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 20px;
  justify-content: space-between;
}
.formInputRe{
  width: 90%;
  background-color: rgba(128, 128, 128, 0.374);
  font-size: 15px;
  padding: 0.6em;
  border: none;
  outline: none;
  border-radius: 20px;
  justify-content: space-between;
}


.formInputR:focus + .formLabel,
.formInputR:not(:placeholder-shown) + .formLabel {
  transform: translateY(-1px) scale(0.9);
  transform-origin: left top;
  color: gray;
}

.formInputRe:focus + .formLabel,
.formInputRe:not(:placeholder-shown) + .formLabel {
  transform: translateY(-1px) scale(0.9);
  transform-origin: left top;
  color: gray;
}

.formLabel {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(12px);
  transition: transform 0.5s;
  font-size: 12px;
}


