@keyframes bounce {
  0% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.1;
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.fondo {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.fondo .containerModal {
  background-color: white;
  padding: 2rem;
  border-top: 4px #2e323e solid;
  border-radius: 20px;
  max-width: 1000px;
  width: 35%;
  animation: bounce 0.5s;
}

.headerModal #iconModal {
  cursor: pointer;
  position: relative;
  left: 8rem;
}

.headerModal {
  display: flex;
  justify-content: center;
}

/* Estilos modal de agregar estudiante */
.modalAdd {
  width: 100%;
  height: 60vh;
  position: relative;
  top: 0.5rem;
  overflow: hidden;
  
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 2rem;
}

.inputModal,
.modalSelect {
  width: 13rem;
  height: 35px;
  border: none;
  background-color: #2e323e54;
  border-radius: 10px;
  text-indent: 10px;
  margin: 7px;
  outline: none;
  margin-bottom: 1rem;
}

.modalLabel {
  font-size: 14px;
  position: absolute;
  transform: translateY(12px);
  transition: transform 0.5s;
  pointer-events: none;
  margin-left: -13rem;
}

.inputModal:focus + .modalLabel,
.inputModal:not(:placeholder-shown) + .modalLabel {
  transform: translateY(-7px) scale(0.9);
  transform-origin: left top;
}

.enviar {
  position: relative;
  display: grid;
  margin-left: 10px;
  place-items: center;
}

.enviar #iconSave {
  font-size: 15px;
  color: white;
}

.enviar .button {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0799b6;
  color: white;
  font-weight: 800;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  letter-spacing: 1.5px;
}

.modalArchivo {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
}

#inputArchivo {
  display: none;
}

.labelArchivo {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: rgb(163, 42, 42);
  text-align: center;
  padding: 8px 20px;
  font-size: 15px;
  letter-spacing: 1.5px;
  user-select: none;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#iconArchivo {
  font-size: 18px;
  margin-right: 10px;
}

label:active {
  transform: scale(0.9);
}

/* Estilos de la modal de información de aprendices */

.contentInfo{
  margin-top: 1rem;
  overflow: hidden;
  min-width: 50%;
}

.info{
  margin: 10px;
  border-bottom: 1px #0799b6 solid;
}

.infoTitle{
  font-weight: bolder;
  font-size: 17px;
}

.infoText{
  font-size: 15px;
  
}
