@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
}

.mainLogin {
  position: relative;
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 5px 10px -5px rgba(0, 0, 0, 0.674);
  text-align: center;
  animation: show 0.8s ease-in-out;

}

.loginForm {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.loginForm .title {
  font-size: 1.5rem;
  font-weight: 700;
  
}

.formContainer {
  margin-top: 1rem;
  display: grid;
  gap: 2rem;
  width: 80%;
}


.btn {
  background-color: #3c3c3c;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  width: 100%;
  padding: 0.8em 0 1em 0;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

.text {
  color: #587fff;
  font-size: 12px;
}

.textForm {
  font-size: 12px;
}

.logo {
  display: flex;
  align-items: center;
  animation: show 0.8s ease-in-out;
}

.container .logo {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
}

.logo > img {
  width: 3rem;
}

.sena {
  font-size: 15px;
}
