@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .container {
    display: flex;
    height: 100vh;
} */

.main {
    /* margin: auto; */
    animation: show .8s ease-in-out;
}

.registerForm {
    background-color: white;
    width: 80%;
    max-width: 400px;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 2px 5px 10px -5px rgba(0, 0, 0, 0.674);
    text-align: center;
}

.registerForm .title {
    font-size: 2rem;
    margin-bottom: 0.8em;
    background-color: white;
}

.inputGroup {
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.inputGroupDocument {
    width: 100%;
    margin-left: .1rem;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}


.inpu {
    position: relative;
    color: black;
    background-color: white;
    width: 100%;
    /* border: 2px solid red; */
}

.formContainerR {
    margin-top: 1em;
    display: grid;
    gap: 1em;
    background-color: white;
}
.formSelect {
    background-color: rgba(128, 128, 128, 0.374);
    font-size: 1em;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 20px;
    justify-content: space-between;
}

.formInputR {
    width: 80%;
    background-color: rgba(128, 128, 128, 0.374);
    font-size: 1em;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 20px;
    justify-content: space-between;
}
.formInputRe {
    width: 90%;
    background-color: rgba(128, 128, 128, 0.374);
    font-size: 1em;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 20px;
}

.formInputR:focus + .formLabel,
.formInputR:not(:placeholder-shown) + .formLabel {
    transform: translateY(-9px) scale(0.9);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}

.formInputRe:focus + .formLabel,
.formInputRe:not(:placeholder-shown) + .formLabel {
    transform: translateY(-9px) scale(0.9);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}

.formLabel {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: transparent;
    transform: translateY(12px);
    transition: transform 0.5s;
    font-size: 15px;
}

/* @media screen and (max-width: 900px) {
  .loginImg {
    display: none;
  }
}  */
